*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

:root {


    --transition: all .4s ease-in-out;

    --container-width-lg: 94%;
    --container-width-md: 85%;
    --container-width-sm: 90%;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    margin-top: 6rem;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}



/* ============MEDIA QURIES(MEDIAM SCREEN)============== */
@media screen and (max-width: 1024px) {
    html {
        font-size: 57%;
    }

    .container {
        width: var(--container-width-md);
    }
}

/* ============MEDIA QURIES(SMALL SCREEN)============== */
@media screen and (max-width: 600px) {
    html {
        font-size: 50%;
    }

    .container {
        width: var(--container-width-sm);
    }
}