@import "tailwindcss";

:root {
    --white: #F9FAFB;
    --black: #111827;
    --blue: #000;
    --darker-blue: #1D4ED8;
    --Accent: #6366F1;
    --border: rgba(128, 128, 128, 0.446);


    --width-lg-screen: 91%;
    --width-md-screen: 90%;
    --width-sm-screen: 93%;
    --transition: all .4s ease;
}

.container {
    max-width: 1600px;
    width: var(--width-lg-screen);
    margin: 0 auto;
}

/* ----for custom loadint page--- */
.loading__container {
    height: 80vh;
    display: grid;
    place-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--black);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ----for not found page---- */
.not__found {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    align-items: center;
    justify-content: center;
}

.not__found>h1 {
    font-size: 7rem;
    color: var(--black);
    line-height: 1;
}

.not__found>h2 {
    font-size: 1.5rem;
    color: var(--black);
}

.not__found>p {
    font-size: 1.25rem;
    color: var(--text);
}


/* ----for custom button---- */
.btn {
    width: max-content;
    background: var(--blue);
    color: var(--white);
    font-size: 1rem;
    padding: .6rem 1.8rem;
    border-radius: 3.5rem;
    font-weight: 600;
    cursor: pointer;
}


.heading {
    font-size: 1.875rem;
    font-weight: 700;
    color: var(--black);
    text-transform: capitalize;
    letter-spacing: 1px;
}



/* ---------------media query(mediam screen)------------- */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--width-md-screen);
    }

    /* ----for not found page---- */

    .not__found>h1 {
        font-size: 6rem;
    }

    .not__found>h2 {
        font-size: 1.35rem;
    }

    .not__found>p {
        font-size: 1rem;
        text-align: center;
    }

}


/*---------------media query(mediam screen)------------- */
@media screen and (max-width: 700px) {
    .container {
        width: var(--width-sm-screen);
    }

    /* ----for not found page---- */

    .not__found>h1 {
        font-size: 5rem;
    }

    .not__found>h2 {
        font-size: 1.2rem;
    }

    .not__found>p {
        font-size: 1rem;
        text-align: center;
    }

    .heading {
        font-size: 1.5625rem;
        font-weight: 700;
        color: var(--black);
        text-transform: capitalize;
        letter-spacing: 0.5px;
    }
}